<!--
/**
 * Application login page.
 *
 * @author Arturs Lataks <info@scandiweb.com>
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
-->

<template name="pages_auth_login">

    <form id="login-form">
        <input name="username" id="email" type="email" placeholder="john@domain.com">
        <input name="password" id="password" type="password" placeholder="qwerty1234">

        <div class="button-wrapper">
            <a class="btn-yellow button left" href="{{urlFor 'register'}}">Register</a>
            <button class="right">Sign in</button>
        </div>
    </form>

</template>
