<!--
/**
 * Application register page.
 *
 * @author Arturs Lataks <info@scandiweb.com>
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
-->

<template name="pages_auth_register">

    <form id="register-form">
        <input name="name" id="name" type="text" placeholder="John Doe">
        <input name="email" id="email" type="email" placeholder="john@domain.com">
        <input name="dob" id="dob" type="text" placeholder="06-10-1993">
        <input name="password" id="password" type="password" placeholder="qwerty1234">

        <div class="button-wrapper">
            <a href="{{urlFor 'login'}}" class="btn-gray button left">Cancel</a>
            <button class="right">Register</button>
        </div>
    </form>

</template>
