<!--
/**
 * Application overlay
 *
 * @author Arturs Lataks <info@scandiweb.com>
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
 -->

<template name="components_overlay">

    <div class="template-overlay">
        <div class="scrollable">
            <div class="overlay-header">
                <p class="page-title">{{ page_title }}</p>
                <button class="back-button"></button>
            </div>

            <div class="content">
                {{> Template.dynamic template=template}}
            </div>
        </div>
    </div>

</template>