<!--
/**
 * Application main screen
 *
 * @author Arturs Lataks <info@scandiweb.com>
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
 -->

<template name="pages_main_screen">

    <h1 class="title">{{ welcomeMessage }}</h1>
    <p>{{ helperMessage }}</p>
    <hr>

    <p class="small-title">Current grocery list</p>
    {{#with currentGroceryList}}
        {{> components_grocery_list_preview this}}
    {{else}}
        <div class="button-wrapper">
            <button class="add-list btn-yellow">Add new one</button>
        </div>
    {{/with}}
    <hr>

    <p class="small-title">Grocery lists</p>
    {{#each list in lists}}
        {{> components_grocery_list_preview list}}
    {{else}}
        {{> components_nothing_found}}
    {{/each}}

</template>
