<!--
/**
 * Application nothing found template
 *
 * @author Arturs Lataks <info@scandiweb.com>
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
 -->

<template name="components_nothing_found">
    <p class="none">Nothing found</p>
</template>