<!--
/**
 * Base layout template.
 *
 * @author Arturs Lataks <info@scandiweb.com>
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
-->

<template name="layouts_base">
    <header>
        <p class="page-title">{{page_title}}</p>

        {{#if currentUser}}
            <a href="#" class="button burger-button"></a>
            <a href="{{ urlFor 'logout' }}" class="button logout-btn"></a>
        {{/if}}
    </header>

    <div class="wrapper">
        <main class="main">
            {{> Template.dynamic template=main}}
        </main>
    </div>

    <footer class=""></footer>
</template>
