/**
 * Header styles
 *
 * @author Arturs Lataks <info@scandiweb.com>
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */

header {
  position: fixed;
  top: 0;
  left: 0;
  height: $header-height;
  width: 100%;
  background: $header-bg;
  z-index: 999;

  .page-title {
    margin: 0;
    line-height: $header-height;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    font-size: 20px;
  }

  .logout-btn {
    @extend .icon-button;
    @extend .top-right;
    background-image: url('images/logout.svg');
    background-size: 30px;
  }

  .burger-button {
    @extend .icon-button;
    @extend .top-left;
    background-image: url('images/burger.svg');
    background-size: 30px;
  }
}
