/**
 * Overlay styles
 *
 * @author Arturs Lataks <info@scandiweb.com>
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */

.global-overlay {
  display: none;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8);
  z-index: 999999;

  .overlay-header {
    @extend header;
    z-index: 999;

    .back-button {
      @extend .icon-button;
      @extend .top-left;
      background-image: url('images/back.svg');
      background-size: 25px;
    }
  }
}

.template-overlay {
  @extend .global-overlay;
  background: $c-white;
  display: block;
  z-index: 99999;

  .scrollable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: $header-height 25px 40px;

    display: flex;
    align-items: center;

    .content {
      width: 100%;
      max-height: 100%;
      padding-top: 20px;
    }
  }

  .overlay-header .page-title {
    text-transform: none !important;
  }
}