<!--
/**
 * Grocery list add new
 *
 * @author Arturs Lataks <info@scandiweb.com>
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
 -->

<template name="components_grocery_list_new">

    <p>Enter all your groceries here and go shopping!</p>

    <form id="grocery-list-form">
        <div class="input-w-button">
            <input id="grocery-list-item" type="text" placeholder="Milk x2">
            <button class="add-item">Add</button>
        </div>

        {{#with groceryList}}
            {{> components_grocery_list_preview this }}
        {{/with}}

        <div class="button-wrapper">
            <button type="submit" class="btn-yellow">Save</button>
        </div>
    </form>

</template>