<!--
/**
 * Grocery list preview template
 *
 * @author Arturs Lataks <info@scandiweb.com>
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
 -->

<template name="components_grocery_list_preview">

    <div class="grocery-list">
        <div class="list-title">
            <span>{{ date createdAt }}</span>

            <div class="actions">
                {{#if isCurrent}}
                    <button class="mark-button"></button>
                {{/if}}
                <button class="remove-button"></button>
            </div>
        </div>

        <div class="list-content">
            <ul>
                {{#each item in items}}
                    <li>{{ item }}</li>
                {{/each}}
            </ul>
        </div>
    </div>

</template>